<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[HVO.Common]*,[HVO.Enterprise.*]*</Include>
          <Exclude>[*.Tests]*,[*.Benchmarks]*</Exclude>
          <ExcludeByFile>**/obj/**,**/bin/**</ExcludeByFile>
          <ExcludeByAttribute>ExcludeFromCodeCoverage</ExcludeByAttribute>
          <IncludeTestAssembly>false</IncludeTestAssembly>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
